/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* define all color and attribute */
:root {
    --primary-text-color: #000000;
    --secondary-text-color: #FFFFFF;
    --tertiary-text-color: #562EFF;
    --quaternary-text-color: #9F9F9F;
    --primary-bg-color: #562EFF;
    --secondary-bg-color: #FFFFFF;
    --tertiary-bg-color: #E5E5E5;
    --primary-font: font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* header start */
header {
    background-color: var(--primary-bg-color);

}

/* nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 15px 0px;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo img {
    width: 40px;
    height: 50px;
    margin-right: 15px;
}

.nav-title {
    color: var(--secondary-text-color);
    font-size: 1.5rem;
    font-weight: 500;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    margin-left: 30px;
    color: var(--secondary-text-color);
    font-size: 1rem;
    font-weight: 400;
}